.Burger{
    width: 25%;
    margin: auto;
    height: 400px;
    text-align: center;
    font-weight: bolder;
    outline: none;
    font-size: 1.2rem;
}

@media (max-width : 500px) and (max-height : 700px) {
    .Burger{
        max-width: 10px;
        max-height: 500px;
    }
}

@media (max-width : 1125px) and (max-height : 700px){
    .Burger{
        max-width: 200px;
        max-height: 700px;
    }
}